.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    div {
      display: flex;
      gap: 15px;
    }
  }
}
